{% extends 'base.html' %} {% block content %}
<style>
  html,
  body {
    
    height: 100%;
  }

  .card {
    text-align: center;
    color: white;
  }

  .card i {
    font-size: 4rem;
    margin-top: 1rem;
  }
  .row {
    padding-top: 25px;
  }
  .tile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

</style>
<!-- PAGINA PRINCIPAL -->
<br><br><br><br><br><br><br><br><br><br><br><br>

<section class="full-width text-center" style="padding: 40px 0">
  <!-- Tiles -->
  <article class="full-width tile">
    <div class="tile-text">
      <span class="text-condensedLight">
        <br />
        <a href="#">
          <small style="color:black; font-size:20px"><strong>Compras</strong></small>
        </a>
      </span>
    </div>
    <i class="zmdi zmdi-balance tile-icon"></i>
  </article>
  <article class="full-width tile">
    <div class="tile-text">
      <span class="text-condensedLight">
        <br />
        <a href="{% url 'mostrar_clientes' %}">
          <small style="color:black; font-size:20px"><strong>Clientes</strong></small>
        </a>
      </span>
    </div>
    <i class="zmdi zmdi-accounts tile-icon"></i>
  </article>
  <article class="full-width tile">
    <div class="tile-text">
      <span class="text-condensedLight">
        <br />
        <a href="#">
          <small style="color:black; font-size:20px"><strong>Proveedores</strong></small>
        </a>
      </span>
    </div>
    <i class="zmdi zmdi-truck tile-icon"></i>
  </article>
  <article class="full-width tile">
    <div class="tile-text">
      <span class="text-condensedLight">
        <br />
        <a href="#">
          <small style="color:black; font-size:20px"><strong>Inventario</strong></small>
        </a>
      </span>
    </div>
    <i class="zmdi zmdi-store tile-icon"></i>
  </article>
  <article class="full-width tile">
    <div class="tile-text">
      <span class="text-condensedLight">
        <br />
        <a href="#">
          <small style="color:black; font-size:20px"><strong>Productos</strong></small>
        </a>
      </span>
    </div>
    <i class="zmdi zmdi-folder tile-icon"></i>
  </article>
  <article class="full-width tile">
    <div class="tile-text">
      <span class="text-condensedLight">
        <br />
        <a href="#">
          <small style="color:black; font-size:20px"><strong>Ventas</strong></small>
        </a>
      </span>
    </div>
    <i class="zmdi zmdi-money tile-icon"></i>
  </article>
</section>


</div>
{% endblock %}