{% extends 'base.html' %} {% block content %}
<style>
  html,
  body {
    height: 100%;
  }

  .card {
    text-align: center;
    color: white;
  }

  .card i {
    font-size: 4rem;
    margin-top: 1rem;
  }
  .row {
    padding-top: 25px;
  }

</style>
<!-- PAGINA PRINCIPAL -->
<br><br><br><br><br><br><br><br><br><br><br><br>

<section class="full-width text-center" style="padding: 40px 0">
  <!-- Tiles -->
  <article class="full-width tile">
    <div class="tile-text">
      <span class="text-condensedLight">
        <br />
        <small style="color:black; "><strong>Compras</strong></small>
      </span>
    </div>
    <i class="zmdi zmdi-balance tile-icon"></i>
  </article>
  <article class="full-width tile">
    <div class="tile-text">
      <span class="text-condensedLight">
        <br />
        <small style="color:black"><strong> Clientes</strong></small>
      </span>
    </div>
    <i class="zmdi zmdi-accounts tile-icon"></i>
  </article>
  <article class="full-width tile">
    <div class="tile-text">
      <span class="text-condensedLight">
        <br />
        <small style="color:black"><strong>Proveedores</strong></small>
      </span>
    </div>
    <i class="zmdi zmdi-truck tile-icon"></i>
  </article>
  <article class="full-width tile">
    <div class="tile-text">
      <span class="text-condensedLight">
        <br />
        <small style="color:black"><strong>Inventario</strong></small>
      </span>
    </div>
    <i class="zmdi zmdi-store tile-icon"></i>
  </article>
  <article class="full-width tile">
    <div class="tile-text">
      <span class="text-condensedLight">
        <br />
        <small style="color:black"><strong>Productos</strong></small>
      </span>
    </div>
    <i class="zmdi zmdi-folder tile-icon"></i>
  </article>
  <article class="full-width tile">
    <div class="tile-text">
      <span class="text-condensedLight">
        <br />
        <small style="color:black"><strong>Ventas</strong></small>
      </span>
    </div>
    <i class="zmdi zmdi-money tile-icon"></i>
  </article>
</section>


</div>
{% endblock %}