{% extends 'base.html' %} {% block content %}
<style>
  html,
  body {
    height: 100%;
  }
  body {
    background-size: cover;
    color: black;
  }
  th {
    background-color: #171717;
    color: rgb(255, 255, 255);
  }
  table,
  td {
    border: 1px solid black;
    font-family: Teko, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgba(
      255,
      255,
      255,
      0.276
    ); /* Agregado para establecer el color de fondo de las celdas de la tabla */
  }
  .btn-exit-btn {
    height: 43px;
    background-color: #2e2e2e;
    border: none;
  }
</style>
<br /><br /><br /><br /><br />

<br />
<div style="text-align: left">
  <button
    type="button"
    class="btn btn-danger"
    id="btn-eliminar"
    style="height: 40px; width: 80px"
  >
    Depurar
  </button>
</div>

</div>
<div class="table-responsive">
  <table class="table" style="width: 100%; text-align: center">
    <thead>
      <tr>
        <th>No</th>
        <th>Accion</th>
        <th>Descripcion</th>
        <th>Fecha</th>
        <th>Usuario</th>
      </tr>
    </thead>
    <tbody>
      {% for movimiento in movimientos %}
      <tr>
        <td>{{ movimiento.id_bitacora }}</td>
        <td>{{ movimiento.accion }}</td>
        <td>{{ movimiento.descripcion }}</td>
        <td>{{ movimiento.fecha_creacion }}</td>
        <td>{{ usuario }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div style="text-align: center">
    <button
      type="button"
      class="btn btn-primary"
      id="btn-volver"
      style="height: 70px"
    >
      Volver
    </button>

</div>
<!-- Agregar los botones de navegación de la paginación -->
<div class="pagination">
  <span class="step-links">
    <span class="current-page">
      Página {{ movimientos.number }} de {{ movimientos.paginator.num_pages }}
    </span><br/>
    {% if movimientos.has_previous %}
    <a href="?page=1">&laquo; Primera</a>
    <a href="?page={{ movimientos.previous_page_number }}">Anterior</a>
    {% endif %}


    {% if movimientos.has_next %}
    <a href="?page={{ movimientos.next_page_number }}">Siguiente</a>
    <a href="?page={{ movimientos.paginator.num_pages }}">Última &raquo;</a>
    {% endif %}
  </span>
</div>

<script>
  const btnVolver = document.querySelector("#btn-volver");

  //volver al menu principal
  document.getElementById("btn-volver").addEventListener("click", function () {
    window.location.href = "{% url 'bienvenido' %}";
  });

  const btnEliminar = document.querySelector("#btn-eliminar");

  // Eliminar toda la bitácora
  btnEliminar.addEventListener("click", function () {
    fetch("/bitacora/eliminar/", {
      method: "POST",
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({}),
    })
      .then((response) => {
        if (response.ok) {
          window.location.href = "/bitacora/";
        } else {
          throw new Error("Ocurrió un error al eliminar la bitácora");
        }
      })
      .catch((error) => {
        console.error(error);
      });
  });
</script>
{% endblock %}
