{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-6 mx-auto">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Crear Usuario</h4>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}

            <div class="form-group">
              <label for="rol">Rol:</label>
              <select class="form-control" name="rol" id="id_rol">
                {% for rol in roles %}
                <option value="{{ rol.id_rol }}">{{ rol.rol }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <label for="usuario">Usuario:</label>
              <input
                type="text"
                name="usuario"
                id="usuario"
                class="form-control"
                required
              />
            </div>

            <div class="form-group">
              <label for="correo_electronico">Correo Electronico:</label>
              <input
                type="email"
                name="correo_electronico"
                id="correo_electronico"
                class="form-control"
                required
              />
            </div>

            <div class="form-group">
              <label for="nombre_usuario">Nombre de usuario:</label>
              <input
                type="text"
                name="nombre_usuario"
                id="nombre_usuario"
                class="form-control"
                required
              />
            </div>

            <div class="form-group">
              <label for="estado_usuario">Estado de usuario:</label>
              <input
                type="text"
                name="estado_usuario"
                id="estado_usuario"
                class="form-control"
                required
              />
            </div>

            <div class="form-group">
              <label for="contrasena">Contraseña:</label>
              <input
                type="password"
                name="contrasena"
                id="contrasena"
                class="form-control"
                required
              />
            </div>

            <div class="form-group">
              <label for="confirmar_contrasena">Confirmar Contraseña:</label>
              <input
                type="password"
                name="confirmar_contrasena"
                id="confirmar_contrasena"
                class="form-control"
                required
              />
            </div>

            <div class="form-group">
              <label for="pregunta">Pregunta de seguridad:</label>
              <select class="form-control" name="pregunta" id="pregunta">
                {% for pregunta in preguntas %}
                <option value="{{ pregunta.id_pregunta }}">
                  {{ pregunta.pregunta }}
                </option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <label for="respuesta">Respuesta de seguridad:</label>
              <input
                type="text"
                name="respuesta"
                id="respuesta"
                class="form-control"
                required
              />
            </div>

            <div class="form-group">
              <label for="fecha_vencimiento">Fecha de vencimiento:</label>
              <input
                type="datetime-local"
                name="fecha_vencimiento"
                id="fecha_vencimiento"
                class="form-control"
                required
              />
            </div>

            <button type="submit" class="btn btn-primary">Crear usuario</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const nombreUsuarioInput = document.getElementById("nombre_usuario");
  nombreUsuarioInput.addEventListener("input", () => {
    const nombreUsuario = nombreUsuarioInput.value;

    if (!/^[A-Z]*$/.test(nombreUsuario)) {
      nombreUsuarioInput.setCustomValidity(
        "El nombre de usuario solo puede contener letras mayúsculas"
      );
    } else {
      nombreUsuarioInput.setCustomValidity("");
    }
  });

  const passwordInput = document.getElementById("contrasena");
  passwordInput.addEventListener("input", () => {
    const password = passwordInput.value;
    if (password.length < 8) {
      passwordInput.setCustomValidity(
        "La contraseña debe tener una longitud mínima de 8 caracteres"
      );
    } else if (!/(?=.*[A-Z])(?=.*[a-z])(?=.*[\W_])/.test(password)) {
      passwordInput.setCustomValidity(
        "La contraseña debe contener al menos una letra mayúscula, una letra minúscula y un caracter especial"
      );
    } else {
      passwordInput.setCustomValidity("");
    }
  });

  const passwordConfirmationInput = document.getElementById(
    "confirmar_contrasena"
  );
  passwordConfirmationInput.addEventListener("input", () => {
    const password = document.getElementById("contrasena").value;
    const passwordConfirmation = passwordConfirmationInput.value;
    if (password !== passwordConfirmation) {
      passwordConfirmationInput.setCustomValidity(
        "Las contraseñas no coinciden"
      );
    } else {
      passwordConfirmationInput.setCustomValidity("");
    }
  });
</script>
{% endblock %}
