{% extends 'base.html' %} {% block content %}
<br />

<style>
  html,
  body {
    height: 100%;
  }
  body {
    background: radial-gradient(circle at top, #ffbb00, #e61414);
    background-size: cover;
  }
</style>
<br /><br />
<div class="container" style="font-family: Teko, sans-serif">
  <div class="row">
    <div class="col-md-8 col-lg-6 mx-auto">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title" style="text-align: center; color: black">
            Crear Usuario
          </h4>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="rol" style="color: black">Rol:</label>
                <select class="form-control" name="rol" id="id_rol">
                  {% for rol in roles %}
                  <option value="{{ rol.id_rol }}">{{ rol.rol }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group col-md-6">
                <label for="usuario" style="color: black">Usuario:</label>
                <input
                  type="text"
                  name="usuario"
                  id="usuario"
                  class="form-control"
                  required
                />
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="correo_electronico" style="color: black"
                  >Correo Electronico:</label
                >
                <input
                  type="email"
                  name="correo_electronico"
                  id="correo_electronico"
                  class="form-control"
                  required
                />
              </div>

              <div class="form-group col-md-6">
                <label for="nombre_usuario" style="color: black"
                  >Nombre de usuario:</label
                >
                <input
                  type="text"
                  name="nombre_usuario"
                  id="nombre_usuario"
                  class="form-control"
                  required
                />
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="estado_usuario" style="color: black"
                  >Estado de usuario:</label
                >
                <input
                  type="text"
                  name="estado_usuario"
                  id="estado_usuario"
                  class="form-control"
                  required
                />
              </div>

              <div class="form-group col-md-6">
                <label for="contrasena" style="color: black">Contraseña:</label>
                <div class="input-group">
                  <input
                    type="password"
                    name="contrasena"
                    id="contrasena"
                    class="form-control"
                    required
                  />
                  <div class="input-group-append">
                    <button
                      type="button"
                      id="togglePassword"
                      class="btn btn-outline-secondary"
                    >
                      <i class="fa fa-eye"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="confirmar_contrasena" style="color: black"
                  >Confirmar Contraseña:</label
                >
                <input
                  type="password"
                  name="confirmar_contrasena"
                  id="confirmar_contrasena"
                  class="form-control"
                  required
                />
              </div>

              <div class="form-group col-md-6">
                <label for="pregunta" style="color: black"
                  >Pregunta de seguridad:</label
                >
                <select class="form-control" name="pregunta" id="pregunta">
                  {% for pregunta in preguntas %}
                  <option value="{{ pregunta.id_pregunta }}">
                    {{ pregunta.pregunta }}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="respuesta" style="color: black"
                  >Respuesta de seguridad:</label
                >
                <input
                  type="text"
                  name="respuesta"
                  id="respuesta"
                  class="form-control"
                  required
                />
              </div>

              <div class="form-group col-md-6">
                <label for="fecha_vencimiento" style="color: black"
                  >Fecha de vencimiento:</label
                >
                <input
                  type="datetime-local"
                  name="fecha_vencimiento"
                  id="fecha_vencimiento"
                  class="form-control"
                  required
                />
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Crear usuario</button>
            <button type="button" class="btn btn-danger" id="btn-cancelar">
              Cancelar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const nombreUsuarioInput = document.getElementById("nombre_usuario");
  nombreUsuarioInput.addEventListener("input", () => {
    const nombreUsuario = nombreUsuarioInput.value;

    if (!/^[A-Z]*$/.test(nombreUsuario)) {
      nombreUsuarioInput.setCustomValidity(
        "El nombre de usuario solo puede contener letras mayúsculas"
      );
    } else {
      nombreUsuarioInput.setCustomValidity("");
    }
  });

  const passwordInput = document.getElementById("contrasena");
  passwordInput.addEventListener("input", () => {
    const password = passwordInput.value;
    if (password.length < 8) {
      passwordInput.setCustomValidity(
        "La contraseña debe tener una longitud mínima de 8 caracteres"
      );
    } else if (!/(?=.*[A-Z])(?=.*[a-z])(?=.*[\W_])/.test(password)) {
      passwordInput.setCustomValidity(
        "La contraseña debe contener al menos una letra mayúscula, una letra minúscula y un caracter especial"
      );
    } else {
      passwordInput.setCustomValidity("");
    }
  });

  const passwordConfirmationInput = document.getElementById(
    "confirmar_contrasena"
  );
  passwordConfirmationInput.addEventListener("input", () => {
    const password = document.getElementById("contrasena").value;
    const passwordConfirmation = passwordConfirmationInput.value;
    if (password !== passwordConfirmation) {
      passwordConfirmationInput.setCustomValidity(
        "Las contraseñas no coinciden"
      );
    } else {
      passwordConfirmationInput.setCustomValidity("");
    }
  });

  const togglePassword = document.getElementById("togglePassword");
  const password = document.getElementById("contrasena");
  togglePassword.addEventListener("click", function (e) {
    // alternar tipo de entrada de contraseña
    const type =
      password.getAttribute("type") === "password" ? "text" : "password";
    password.setAttribute("type", type);
    // cambiar el icono del botón
    this.querySelector("i").classList.toggle("fa-eye");
    this.querySelector("i").classList.toggle("fa-eye-slash");
  });

  document
    .getElementById("btn-cancelar")
    .addEventListener("click", function () {
      window.location.href = "{% url 'user_views' %}";
    });
</script>
{% endblock %}
