{% extends 'base.html' %} {% block content %}

<style>
  .card {
    border: 1px solid #dcdcdc;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 20px;
    font-size: 25px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
  }

  .card h1 {
    text-align: center;
    color: black;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-control {
    border: 1px solid #dcdcdc;
    padding: 10px;
    font-size: 20px;
    color: #333;
  }

  label {
    font-size: 20px;
    color: black;
  }

  .btn {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
</style>

<div class="card" style="text-align: center">
  <h3 style="color: black">Editando rol "{{ rol.rol }}"</h3>
  <form method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="rol" style="text-align: center">Rol</label>
      <input
        type="text"
        class="form-control"
        id="rol"
        name="rol"
        value="{{ rol.rol }}"
      />
    </div>

    <div class="form-group">
      <label for="estado" style="text-align: center">Estado:</label>
      <select class="form-control" name="estado" id="estado">
        <option value="Activo">Activo</option>
        <option value="Inactivo">Inactivo</option>
      </select>
    </div>

    <div class="form-group">
      <label for="descripcion" style="text-align: center">Descripción</label>
      <input
        type="text"
        class="form-control"
        id="descripcion"
        name="descripcion"
        value="{{ rol.descripcion }}"
      />
    </div>

    <div style="text-align: center">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger" id="btn-volver">
        Cancelar
      </button>
    </div>
  </form>
</div>

<script>
  document.getElementById("btn-volver").addEventListener("click", function () {
    window.location.href = "{% url 'rols_views' %}";
  });
</script>

{% endblock %}
