{% extends 'base.html' %} {% block content %}
<style>
  html,
  body {
    height: 100%;
  }
  body {
    font-family: Teko, sans-serif;
    background: radial-gradient(circle at top, #ffbb00, #e61414);
    background-size: cover;
    color: black;
  }
  table,
  th,
  td {
    border: 1px solid black;
    font-family: Teko, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgba(
      255,
      255,
      255,
      0.276
    ); /* Agregado para establecer el color de fondo de las celdas de la tabla */
  }
</style>
<br /><br /><br /><br /><br />
<h1 style="text-align: center; font-size: 65px">Lista de Roles</h1>
<a href="{% url 'crear_rol'  %}" class="btn btn-primary">Crear Rol</a><br />
<br />
<div class="table-responsive">
  <table class="table" style="width: 100%; text-align: center">
    <thead>
      <tr>
        <th>Id Rol</th>
        <th>Rol</th>
        <th>Descripcion</th>
        <th>Creado Por</th>
        <th>Fecha de Creacion</th>
        <th>Modificado Por</th>
        <th>Fecha de Modificacion</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for rol in roles %}
      <tr>
        <td>{{ rol.id_rol }}</td>
        <td>{{ rol.rol }}</td>
        <td>{{ rol.descripcion }}</td>
        <td>{{ rol.creado_por }}</td>
        <td>{{ rol.fecha_creacion }}</td>
        <td>{{ rol.modificado_por }}</td>
        <td>{{ rol.fecha_modificacion }}</td>
        <td>
          <a href="{% url 'editar_rol' rol.id_rol %}" class="btn btn-primary"
            >Editar</a
          >
          <a href="{% url 'eliminar_rol' rol.id_rol %}" class="btn btn-danger"
            >Eliminar</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div style="text-align: center">
    <button
      type="button"
      class="btn btn-primary"
      id="btn-volver"
      style="height: 70px"
    >
      Volver al menu principal
    </button>
  </div>
</div>
<script>
  const btnVolver = document.querySelector("#btn-volver");

  //volver al menu principal
  document.getElementById("btn-volver").addEventListener("click", function () {
    window.location.href = "{% url 'bienvenido' %}";
  });
</script>
{% endblock %}
