{% extends 'base.html' %} {% block content %}

<h1>Lista de Roles</h1>

<div class="table-responsive">
  <table class="table" style="width: 100%">
    <thead>
      <tr>
        <th>Id Rol</th>
        <th>Rol</th>
        <th>Descripcion</th>
        <th>Creado Por</th>
        <th>Fecha de Creacion</th>
        <th>Modificado Por</th>
        <th>Fecha de Modificacion</th>
      </tr>
    </thead>
    <tbody>
      {% for rol in roles %}
      <tr>
        <td>{{ rol.id_rol }}</td>
        <td>{{ rol.rol }}</td>
        <td>{{ rol.descripcion }}</td>
        <td>{{ rol.creado_por }}</td>
        <td>{{ rol.fecha_creacion }}</td>
        <td>{{ rol.modificado_por }}</td>
        <td>{{ rol.fecha_modificacion }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
