{% extends 'base.html' %} {% block content %}
<style>
  html,
  body {
    height: 100%;
  }
  body {
    background: radial-gradient(circle at top, #ffbb00, #e61414);
    background-size: cover;
    color: black;
  }
  th {
    background-color: #171717;
    color: rgb(255, 255, 255);
  }
  table,
  td {
    border: 1px solid black;

    color: rgb(0, 0, 0);
    background-color: rgba(
      255,
      255,
      255,
      0.276
    ); /* Agregado para establecer el color de fondo de las celdas de la tabla */
  }
  .btn-exit-btn {
    height: 43px;
    background-color: #2e2e2e;
    border: none;
  }
</style>
<br /><br />
<h2 style="color: black; text-align: center; text-decoration: none">
  <strong>Roles</strong>
</h2>
<div id="filtro-container" style="text-align: right; padding-top: 0px">
  <label for="filtro" style="color: black">Filtrar:</label>
  <input
    type="text"
    id="filtro"
    onkeyup="filtrarTabla()"
    placeholder="Buscar por nombre..."
  />
</div>
<a href="{% url 'crear_rol'  %}" class="btn btn-primary">Crear</a><br /><br />

<br /><br /><br />
<div class="table-responsive">
  <table class="table" style="width: 100%; text-align: center" id="tabla-roles">
    <thead>
      <tr>
        <th>Id</th>
        <th>Rol</th>
        <th>Estado</th>
        <th>Descripcion</th>
        <th>Creado Por</th>
        <th>Fecha Creacion</th>
        <th>Modificado Por</th>
        <th>Fecha Modificacion</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for rol in roles %}
      <tr>
        <td>{{ rol.id_rol }}</td>
        <td>{{ rol.rol }}</td>
        <td>{{ rol.estado }}</td>
        <td>{{ rol.descripcion }}</td>
        <td>{{ rol.creado_por }}</td>
        <td>{{ rol.fecha_creacion }}</td>
        <td>{{ rol.modificado_por }}</td>
        <td>{{ rol.fecha_modificacion }}</td>
        <td>
          <a href="{% url 'editar_rol' rol.id_rol %}" class="btn btn-primary">
            <i class="fas fa-pencil-alt"></i>
            <!-- Icono de lápiz de Font Awesome -->
          </a>
          <a href="{% url 'eliminar_rol' rol.id_rol %}" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
            <!-- Icono de basurero de Font Awesome -->
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- Agregar los botones de navegación de la paginación -->
  <div class="pagination">
    <span class="step-links">
      {% if roles.has_previous %}
      <a href="?page=1">&laquo; Primera</a>
      <a href="?page={{ roles.previous_page_number }}">Anterior</a>
      {% endif %}
      <span class="current-page">
        Página {{ roles.number }} de {{ roles.paginator.num_pages }}
      </span>

      {% if roles.has_next %}
      <a href="?page={{ roles.next_page_number }}">Siguiente</a>
      <a href="?page={{ roles.paginator.num_pages }}">Última &raquo;</a>
      {% endif %}
    </span>
  </div>
  <div style="text-align: center">
    <button
      type="button"
      class="btn btn-primary"
      id="btn-volver"
      style="height: 70px"
    >
      Volver
    </button>
  </div>
</div>
<script>
  const btnVolver = document.querySelector("#btn-volver");
  const inputFiltro = document.querySelector("#filtro");
  const btnActivos = document.querySelector("#btn-activos");
  const btnInactivos = document.querySelector("#btn-inactivos");
  const btnTodos = document.querySelector("#btn-todos");

  //volver al menu principal
  document.getElementById("btn-volver").addEventListener("click", function () {
    window.location.href = "{% url 'bienvenido' %}";
  });

  // Obtener la tabla
  const tablaRoles = document.querySelector("#tabla-roles");

  // Agregar un event listener a cada botón
  btnActivos.addEventListener("click", () => filtrarUsuarios("Activo"));
  btnInactivos.addEventListener("click", () => filtrarUsuarios("Inactivo"));
  btnTodos.addEventListener("click", () => filtrarUsuarios(null));

  // Función para filtrar los usuarios
  function filtrarUsuarios(rol) {
    // Recorrer todas las filas de la tabla
    for (let i = 0; i < tablaRoles.rows.length; i++) {
      const row = tablaRoles.rows[i];

      // Si la columna de estado no coincide con el estado seleccionado y no es la fila de encabezado, ocultar la fila
      if (rol && row.cells[4].textContent !== rol && i !== 0) {
        row.style.display = "none";
      } else {
        row.style.display = "";
      }
    }
  }

  inputFiltro.addEventListener("input", () =>
    filtrarNombres(inputFiltro.value)
  );

  function filtrarNombres(nombre) {
    const filas = tablaRoles.getElementsByTagName("tr");
    for (let i = 0; i < filas.length; i++) {
      const celdas = filas[i].getElementsByTagName("td");
      let mostrarFila = false;
      for (let j = 0; j < celdas.length; j++) {
        if (
          celdas[j].textContent.toUpperCase().indexOf(nombre.toUpperCase()) > -1
        ) {
          mostrarFila = true;
          break;
        }
      }
      filas[i].style.display = mostrarFila ? "" : "none";
    }
  }
</script>
{% endblock %}
