{% extends 'base.html' %} {% block content %}

<style>
  table {
    font-family: "Teko", sans-serif;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-decoration: none;
  }

  table,
  th,
  td {
    border: 3px solid black;
  }

  th,
  td {
    text-align: center;
    padding: 8px;
  }

  th {
    background-color: #f0f8ff;
    color: #000000;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .table {
    width: 100%;
    white-space: nowrap;
  }

  .table-responsive {
    overflow-x: auto;
    width: 100%;
  }
  button {
    font-family: "Teko", sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Teko", sans-serif;
    color: none;
  }

  /* NUEVO CSS PARA EL FILTRO */
  #filtro-container {
    float: right;
    margin: 20px 0 20px 20px;
    display: flex;
    align-items: center;
  }

  #filtro-container > * {
    margin-right: 20px;
  }
</style>

<br /><br />

<br /><br />

<div id="filtro-container">
  <div>
    <h3 style="color: black">Buscar</h3>
    <input type="text" id="filtro-nombre" placeholder="Ej. Nombre" />
  </div>
</div>
<div>
  <h3
    style="
      color: black;
      text-align: center;
      font-size: 80px;
      text-decoration: none !important;
    "
  >
    USUARIOS
  </h3>

  <button
    id="btn-activos"
    style="
      background-color: #000000;
      color: rgb(255, 255, 255);
      height: 50px;
      border-radius: 15px;
    "
  >
    Activos
  </button>
  <button
    id="btn-inactivos"
    style="
      background-color: #000000;
      color: rgb(255, 255, 255);
      height: 50px;
      border-radius: 15px;
    "
  >
    Inactivos
  </button>
  <button
    id="btn-todos"
    style="
      background-color: #000000;
      color: rgb(255, 255, 255);
      height: 50px;
      border-radius: 15px;
    "
  >
    Todos
  </button>
</div>
<br />
<div class="table-responsive">
  <table
    class="table"
    style="width: 100%; color: black; hover: none"
    id="tabla-usuarios"
  >
    <thead>
      <tr>
        <th>Id</th>
        <th>Rol</th>
        <th>Usuario</th>
        <th>Nombre Usuario</th>
        <th>Estado Usuario</th>
        <th>Contraseña</th>
        <th>Correo Electrónico</th>
        <th>Creado Por</th>
        <th>Modificado Por</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
      <tr>
        <td>{{ usuario.id_usuario }}</td>
        <td>{{ usuario.id_rol.rol }}</td>
        <td>{{ usuario.usuario }}</td>
        <td>{{ usuario.nombre_usuario }}</td>
        <td>{{ usuario.estado_usuario }}</td>
        <td>{{ usuario.contrasena }}</td>
        <td>{{ usuario.correo_electronico }}</td>
        <td>{{ usuario.creado_por }}</td>
        <td>{{ usuario.modificado_por }}</td>

        <td>
          <a
            href="{% url 'editar_usuario' usuario.id_usuario %}"
            class="btn btn-primary"
          >
            <i class="fas fa-pencil-alt"></i>
            <!-- Icono de lápiz de Font Awesome --></a
          >
          <a
            href="{% url 'eliminar_usuario' usuario.id_usuario %}"
            class="btn btn-danger"
          >
            <i class="fas fa-trash-alt"></i>
            <!-- Icono de basurero de Font Awesome -->
          </a>
          <a
            href="{% url 'ver_mas_usuario' usuario.id_usuario %}"
            class="btn btn-secondary"
          >
            <i class="zmdi zmdi-plus"></i>
            <!-- Icono de basurero de Font Awesome -->
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div style="text-align: center">
    <button
      type="button"
      class="btn btn-primary"
      id="btn-volver"
      style="height: 70px"
    >
      Volver
    </button>
  </div>
</div>

<script>
  // Obtener los botones
  const btnActivos = document.querySelector("#btn-activos");
  const btnInactivos = document.querySelector("#btn-inactivos");
  const btnTodos = document.querySelector("#btn-todos");
  const btnVolver = document.querySelector("#btn-volver");
  const inputFiltro = document.querySelector("#filtro-nombre");

  //volver al menu principal
  document.getElementById("btn-volver").addEventListener("click", function () {
    window.location.href = "{% url 'bienvenido' %}";
  });

  // Obtener la tabla
  const tablaUsuarios = document.querySelector("#tabla-usuarios");

  // Agregar un event listener a cada botón
  btnActivos.addEventListener("click", () => filtrarUsuarios("Activo"));
  btnInactivos.addEventListener("click", () => filtrarUsuarios("Inactivo"));
  btnTodos.addEventListener("click", () => filtrarUsuarios(null));

  // Función para filtrar los usuarios
  function filtrarUsuarios(estado) {
    // Recorrer todas las filas de la tabla
    for (let i = 0; i < tablaUsuarios.rows.length; i++) {
      const row = tablaUsuarios.rows[i];

      // Si la columna de estado no coincide con el estado seleccionado y no es la fila de encabezado, ocultar la fila
      if (estado && row.cells[4].textContent !== estado && i !== 0) {
        row.style.display = "none";
      } else {
        row.style.display = "";
      }
    }
  }

  inputFiltro.addEventListener("input", () =>
    filtrarUsuarios(inputFiltro.value)
  );

  function filtrarUsuarios(nombre) {
    const filas = tablaUsuarios.getElementsByTagName("tr");
    for (let i = 0; i < filas.length; i++) {
      const celdas = filas[i].getElementsByTagName("td");
      let mostrarFila = false;
      for (let j = 0; j < celdas.length; j++) {
        if (
          celdas[j].textContent.toUpperCase().indexOf(nombre.toUpperCase()) > -1
        ) {
          mostrarFila = true;
          break;
        }
      }
      filas[i].style.display = mostrarFila ? "" : "none";
    }
  }
</script>
{% endblock %}
