{% extends 'base.html' %} {% block content %}
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css"
/>
<style>
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-decoration: none;
  }

  table,
  th,
  td {
    border: 3px solid black;
  }

  th,
  td {
    text-align: center;
    padding: 8px;
  }

  th {
    background-color: #171717;
    color: rgb(255, 255, 255);
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .table {
    width: 100%;
    white-space: nowrap;
  }

  .table-responsive {
    overflow-x: auto;
    width: 100%;
  }
  button {
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: none;
  }

  /* NUEVO CSS PARA EL FILTRO */
  #filtro-container {
    float: right;
    margin: 20px 0 20px 20px;
    display: flex;
    align-items: center;
  }

  #filtro-container > * {
    margin-right: 20px;
  }
  .pagination {
    margin: 0;
    width: 50%;
    padding: 10px;
  }
</style>

<br /><br />

<br /><br />
<a
  href="{% url 'crear_usuarios' %}"
  class="btn btn-primary mb-2"
  style="text-align: center"
  >Crear</a
>
<div id="filtro-container">
  <div>
    <h3 style="color: black">Buscar</h3>
    <input type="text" id="filtro-nombre" placeholder="Ej. Nombre" />
  </div>
</div>
<div>
  <h4
    style="
      color: black;
      text-align: center;
      font-size: 50px;
      text-decoration: none !important;
    "
  >
    <strong>USUARIOS</strong>
  </h4>
</div>
<br />

<div class="table-responsive">
  <table
    class="table"
    style="width: 100%; color: black; hover: none"
    id="tabla-usuarios"
  >
    <thead>
      <tr>
        <th>Id</th>
        <th>Rol</th>
        <th>Usuario</th>
        <th>Nombre Usuario</th>
        <th>Estado Usuario</th>
        <th>Contraseña</th>
        <th>Correo Electrónico</th>
        <th>Creado Por</th>
        <th>Modificado Por</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
      <tr>
        <td>{{ usuario.id_usuario }}</td>
        <td>{{ usuario.id_rol.rol }}</td>
        <td>{{ usuario.usuario }}</td>
        <td>{{ usuario.nombre_usuario }}</td>
        <td>{{ usuario.estado_usuario }}</td>
        <td>{{ usuario.contrasena }}</td>
        <td>{{ usuario.correo_electronico }}</td>
        <td>{{ usuario.creado_por }}</td>
        <td>{{ usuario.modificado_por }}</td>

        <td>
          <a
            href="{% url 'editar_usuario' usuario.id_usuario %}"
            class="btn btn-primary"
          >
            <i class="fas fa-pencil-alt"></i>
            <!-- Icono de lápiz de Font Awesome --></a
          >
          <a
            href="{% url 'eliminar_usuario' usuario.id_usuario %}"
            class="btn btn-danger"
          >
            <i class="fas fa-trash-alt"></i>
            <!-- Icono de basurero de Font Awesome -->
          </a>
          <a
            href="{% url 'ver_mas_usuario' usuario.id_usuario %}"
            class="btn btn-secondary"
          >
            <i class="zmdi zmdi-plus"></i>
            <!-- Icono de basurero de Font Awesome -->
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div style="text-align: center">
    <button
      type="button"
      class="btn btn-primary"
      id="btn-volver"
      style="height: 70px"
    >
      Volver
    </button>
  </div>
</div>
<!-- Agregar los botones de navegación de la paginación -->
<div class="pagination">
  <span class="step-links">
    <span class="current-page">
      Página {{ usuarios.number }} de {{ usuarios.paginator.num_pages }}
    </span>
    <br />
    {% if usuarios.has_previous %}
    <a href="?page=1">&laquo; Primera</a>
    <a href="?page={{ usuarios.previous_page_number }}">Anterior</a>
    {% endif %} {% if usuarios.has_next %}
    <a href="?page={{ usuarios.next_page_number }}">Siguiente</a>
    <a href="?page={{ usuarios.paginator.num_pages }}">Última &raquo;</a>
    {% endif %}
  </span>
</div>

<script>
  // Obtener los botones
  const btnVolver = document.querySelector("#btn-volver");
  const inputFiltro = document.querySelector("#filtro-nombre");

  //volver al menu principal
  document.getElementById("btn-volver").addEventListener("click", function () {
    window.location.href = "{% url 'bienvenido' %}";
  });

  // Obtener la tabla
  const tablaUsuarios = document.querySelector("#tabla-usuarios");

  // Función para filtrar los usuarios
  function filtrarUsuarios(estado) {
    // Recorrer todas las filas de la tabla
    for (let i = 0; i < tablaUsuarios.rows.length; i++) {
      const row = tablaUsuarios.rows[i];

      // Si la columna de estado no coincide con el estado seleccionado y no es la fila de encabezado, ocultar la fila
      if (estado && row.cells[4].textContent !== estado && i !== 0) {
        row.style.display = "none";
      } else {
        row.style.display = "";
      }
    }
  }

  inputFiltro.addEventListener("input", () =>
    filtrarUsuarios(inputFiltro.value)
  );

  function filtrarUsuarios(nombre) {
    const filas = tablaUsuarios.getElementsByTagName("tr");
    for (let i = 0; i < filas.length; i++) {
      const celdas = filas[i].getElementsByTagName("td");
      let mostrarFila = false;
      for (let j = 0; j < celdas.length; j++) {
        if (
          celdas[j].textContent.toUpperCase().indexOf(nombre.toUpperCase()) > -1
        ) {
          mostrarFila = true;
          break;
        }
      }
      filas[i].style.display = mostrarFila ? "" : "none";
    }
  }
</script>
{% endblock %}
